<!-- src/main/resources/templates/fragments/navbar.html -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark" style="background-color:#35424a;">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center gap-2" th:href="@{/}">
            <img th:src="@{/img/portadafondo.png}" alt="Veterinaria Patitas" 
                 class="rounded-circle object-fit-cover" style="width:60px; height:60px;">
            <span class="fw-bolder text-uppercase" style="color:#00bfae; font-family: Montserrat, sans-serif;">
                Veterinaria Patitas
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Menú">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav gap-2">
                <li class="nav-item"><a class="nav-link" th:href="@{/}"><i class="fa-solid fa-house"></i> Inicio</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/sobre_nosotros}"><i class="fa-solid fa-users"></i> Sobre Nosotros</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/adoptar}"><i class="fa-solid fa-paw"></i> Adoptatón</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/envia_mensaje}"><i class="fa-solid fa-envelope"></i> Enviar Mensaje</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/trabaja}"><i class="fa-solid fa-briefcase"></i> Trabaja con nosotros</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/simulador_ventas}"><i class="fa-solid fa-cart-shopping"></i> Shop</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/simulador_citas}"><i class="fa-solid fa-calendar"></i> Citas</a></li>
                <li class="nav-item"><a class="nav-link" href="#contacto"><i class="fa-solid fa-phone"></i> Contacto</a></li>
              <li class="nav-item" th:if="${session.usuarioLogeado == null}">
    <a class="nav-link" th:href="@{/login}">
        <i class="fa-solid fa-right-to-bracket"></i> Login
    </a>
</li>

<li class="nav-item dropdown" th:if="${session.usuarioLogeado != null}">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        👋 Hola, <b th:text="${session.usuarioLogeado}"></b>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        <li><a class="dropdown-item" th:href="@{/logout}">
            <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión
        </a></li>
    </ul>
</li>
            </ul>
        </div>
    </div>
</nav>


