main {
    color: #008080;
    font-weight: 800;
     text-align: center;
    padding: 20px;
    max-width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}

.custom-container {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px; 
    margin: 30px auto; /* centrado */
    padding: 40px; /* espacio interno */
}
.section-container {
    grid-column: 1/-2;
}

h2 {
    color: #008080;
    margin-bottom: 15px;
    text-align: center;
}

h3 {
    color: #6c757d;
    margin-top: 30px;
    margin-bottom: 15px;
}

.container p,
.section-container p,
.GALERIA p,
.INFO-PERRITOS p {
    margin-top: 15px;
    color: #555;
    font-size: 0.95em;
    text-align: center;
}


.GALERIA {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.INFO-PERRITOS {
    background-color: #e9ecef;
    border: 2px solid #dee2e2;
    border-radius: 8px;
    padding: 15px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.5px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.INFO-PERRITOS:hover {
    background-color: #d2d9db; /*papel aluminio*/
    transform: scale(1.04);
}

.INFO-PERRITOS img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.INFO-PERRITOS h4 {
    margin: 10px 0;
    color: #343a40;
}

.INFO-PERRITOS button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    transition: background-color 0.3s ease;
}

.INFO-PERRITOS button:hover {
    background-color: #0056b3;

}





